# Ignoring changes to .gitconfig.local allows me to use different local
# settings for each computer
.gitconfig.local
.Xresources.local
# Similar for Godot's config
.config/godot/favorite_dirs.local
.config/godot/recent_dirs.local
