# vim: ft=zsh
export PATH=$PATH:/home/ibb/bin

source /etc/X11/xinit/xinitrc.d/50-systemd-user.sh
/usr/lib/notification-daemon-1.0/notification-daemon &

light-locker &

# tray apps
udiskie --tray &
blueman-applet &
solaar -w hide &
(sleep 2; nextcloud) &
which gkraken && gkraken --hide-window &

# disable screensaver
xset dpms 0 0 0
xset -dpms
xset s 0 0
xset s off

# screenshots
flameshot &

# enable keyring
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK

# enable audio
pa_setup() {
  sleep 2
  # pulseaudio # no longer needed due to user service
  # set default output monitor
  pactl set-card-profile alsa_card.pci-0000_01_00.1 output:hdmi-stereo-extra1
  pactl set-default-sink alsa_output.pci-0000_01_00.1.hdmi-stereo-extra1
}
pa_setup &

# Qbittorrent has "issues" with UI scaling
QT_AUTO_SCREEN_SCALE_FACTOR=0

# disable touchpad screen
#[ `hostname` = "Tripitaka" ] && xrandr --output HDMI1 --off

# enable compositing
# disabled because it decreases performance for games and I always forget
# to turn it off beforehand (it also doesn't provide much benefit)
# picom &

# Gimme some eye-candy!
# feh --bg-max /home/ibb/backgrounds/1352085388.jayaxer_all_business_by_jayaxer.jpg
[ "`cat /etc/hostname`" = "Azeban" ] && feh --bg-max /home/ibb/backgrounds/raccoon-in-dark.jpg
[ "`cat /etc/hostname`" = "Bastet" ] && feh --bg-max /home/ibb/backgrounds/bastet-abstract.jpg

# change caps lock to compose key (c`e to type accented e)
setxkbmap -option compose:caps
localectl set-x11-keymap compose:caps

[ -x /home/ibb/helpers/xprofile.local ] && /home/ibb/helpers/xprofile.local
